<div hx-target="this" hx-swap="outerHTML">
    <div><label>First Name</label>: Joe</div>
    <div><label>Last Name</label>: Blow</div>
    <div><label>Email</label>: {{ user_email }}</div>
    <button hx-get="/htmx/example/api" class="btn btn-primary">
    Click To Edit
    </button>
</div>